

table, tr, th, td, #table {
    border: 1px solid black;
    border-collapse: collapse;
    
}
.s {
    border: 1px solid black;
    border-collapse: collapse;
}
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Oct 2023, 11:38:16
    Author     : Retr0user
*/

